body {
  background-image: linear-gradient(
    to right bottom,
    #bcc222,
    #e7f00e,
    #bdc23d,
    #ff9aa9,
    #f8afd4,
    #7ed5e4,
    #49c7bf
  );
}

#cover {
  height: 400px;
}
.white_space {
  margin-top: 7%;
}

.param_space {
  margin-bottom: 15px;
}
.corrImg:hover {
  cursor: pointer;
  opacity: 0.5;
}

.corrImg {
  border-radius: 50%;
}

#money_health_img {
  width: 100%;
}

#money_health_question {
  text-decoration: underline;
}

#money_health_question:hover {
  cursor: pointer;
  color: rgb(6, 69, 173);
}

#avgHappy {
  margin-top: 7%;
}

#lifeExpec {
  margin-top: 7%;
}

#happy_health,
#happy_support,
#happy_free {
  margin-top: 15%;
}

#kim {
  color: rgb(95, 94, 94);
}

#NorthAmerica {
  color: #e31a1c;
}

#WestEu {
  color: #6a3d9a;
}

#SubAfr {
  color: #8a679b;
}

#SouthAsia {
  color: #aa7a3a;
}

.emoji {
  font-size: 35px;
}

.happyColour {
  color: rgb(194, 194, 6);
}

.sadColour {
  color: rgb(129, 13, 13);
}

.textBackground {
  background-image: linear-gradient(to right bottom, #e6eb66, #eebbd4, #b7dce2);

  color: rgb(70, 67, 67);
}

.footer_txt {
  font-size: 20px;
  background-image: linear-gradient(to right bottom, #e7f00e, #f8afd4, #7ed5e4);
  color: rgb(70, 67, 67);
}

.vega-bind-name {
  padding-left: 300px;
}

#lifeColour {
  color: #dd3497;
}

.highLifeColour {
  color: #ae017e;
}

.lowLifeColour {
  color: #be7e8e;
}

.corrColour {
  color: #14c4bb;
}
