#WHR_title {
  font-size: 85px;
  color: rgb(126, 0, 88);
}

.white_space {
  margin-top: 7%;
}

.param_space {
  margin-bottom: 15px;
}

.corrImg:hover {
  cursor: pointer;
  opacity: 0.5;
}

.corrImg {
  border-radius: 50%;
}

#money_health_img {
  width: 100%;
}

#money_health_question {
  text-decoration: underline;
}

#money_health_question:hover {
  cursor: pointer;
  color: rgb(6, 69, 173);
}

#lifeExpec {
  margin-top: 7%;
}

#bar_chart_2021 {
  padding-left: 20%;
}

#gdp_text_2021 {
  padding-left: 15%;
}

#happy_health,
#happy_support,
#happy_free {
  margin-top: 15%;
}

#NorthAmerica {
  color: #e31a1c;
}

#WestEu {
  color: #6a3d9a;
}

#SubAfr {
  color: #8a679b;
}

#SouthAsia {
  color: #aa7a3a;
}

.emoji {
  font-size: 35px;
}

.footer_txt {
  font-size: 20px;
  color: rgb(70, 67, 67);
  background-color: #fafdfc;
}

.vega-bind-name {
  padding-left: 300px;
}

.corrColour {
  color: #14c4bb;
}
